<footer class="text-gray-600 body-font">
    <div class="py-8 flex items-center sm:flex-row flex-col">
        @* Branding *@
        <a href="/" class="flex title-font items-center md:justify-start justify-center">
            <img src="images/icon-192.png" width="48" height="48" class="w-12" alt="mini calendar logo - 5 rows of 7 dots that represent days of the month" title="mini calendar"/>
            <span class="ml-2">mini calendar</span>
        </a>
        @* Common links *@
        <p class="text-sm text-gray-500 sm:ml-8 sm:pl-8 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
            <a href="gallery" title="Gallery of calendars" class="text-gray-500 hover:text-gray-700 mx-4 ms-0">Gallery</a>
            <a href="about" title="About mini calendar" class="text-gray-500 hover:text-gray-700 mx-4 ms-0">About</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeD7kCWasBISvilqm65GYmKOfQopVEes57pKCrlD_ylHN6TzA/viewform?usp=sf_link" title="Contact the developer" class="text-gray-500 hover:text-gray-700 mx-4" target="_blank">Contact</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeD7kCWasBISvilqm65GYmKOfQopVEes57pKCrlD_ylHN6TzA/viewform?usp=sf_link" title="Rate mini calendar" class="text-gray-500 hover:text-gray-700 mx-4" target="_blank">Rate App</a>
            <a href="privacy/privacy-policy" class="text-gray-500 hover:text-gray-700 mx-4 ms-0">Privacy Policy</a>
            <a href="privacy/cookie-preferences" class="text-gray-500 hover:text-gray-700 mx-4">Cookie Preferences</a>
            <a href="legal/terms-of-service" class="text-gray-500 hover:text-gray-700 mx-4">Terms of Service</a>
        </p>
    </div>
</footer>

@code {

}