@page "/privacy/privacy-policy"

<article class="text-lg">
    <h1 class="mb-2 text-4xl font-medium">Privacy Policy</h1>
    <div class="mb-8">
        <p class="">Last Updated: August 15, 2024</p>
    </div>
    <div class="mb-8">
        <p class="">Thank you for using mini calendar! Your privacy is important to us. 
            This Privacy Policy outlines how we handle your information when you use the mini calendar app and website.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">1. Data Storage on Your Device</h2>
        <p class="">All data generated and used by our application is stored locally on your device.</p>
        <p class="">We do not collect, store, or access any of your personal information on our servers.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">2. No Personal Information Sent to Our Servers</h2>
        <p class="">Our application does not transmit any personal data to our servers.</p>
        <p class="">We do not collect or share any of your personal information.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">3. Cookies on Our Website</h2>
        <p class="">Our website uses functional cookies to ensure it works smoothly and provides you with the best experience.</p>
        <p class="">These cookies do not track your behavior beyond our website and do not collect any personal information.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">4. Anonymized Analytics</h2>
        <p class="">We use anonymized analytics to understand how our website is used.</p>
        <p class="">These analytics do not contain any personal information and cannot be traced back to you.</p>
        <p class="">The data collected is purely for improving the website's functionality and user experience.</p>
        <p class="">You can <a href="/privacy/cookie-preferences" class="underline hover:no-underline text-gray-700 hover:text-gray-900">edit your cookie preferences</a> at any time.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">5. Your Control</h2>
        <p class="">Since all your data is stored locally, you have full control over it. You can modify or 
            <a href="/app/privacy/data" class="underline hover:no-underline text-gray-700 hover:text-gray-900">delete it</a> 
            as you wish.</p>
        <p class="">If you want to manage cookies or prevent anonymized analytics, you can 
            <a href="/privacy/cookie-preferences" class="underline hover:no-underline text-gray-700 hover:text-gray-900">edit your cookie preferences</a>
            accordingly.</p>
        <p class="">Your data can be <a href="/cal/export" class="underline hover:no-underline text-gray-700 hover:text-gray-900">exported</a>
            at any time.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">6. Updates to This Policy</h2>
        <p class="">We may update this Privacy Policy from time to time. 
            Any changes will be posted on this page with the updated date.</p>
        <p class="">We encourage you to review this policy periodically to stay informed about how we protect 
            your information.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">7. Contact Us</h2>
        <p class="">If you have any questions about this Privacy Policy, please feel free to 
            <a href="/contact" class="underline hover:no-underline text-gray-700 hover:text-gray-900">contact us</a>.</p>
    </div>
    <div class="mb-8">
        <p class="">Thank you for trusting us with your privacy!</p>
    </div>
    <div class="my-16">
        <p class="text-gray-700">Note: This Privacy Policy is designed to be easy to understand and reflects our commitment to protecting your data and privacy.</p>
    </div>
</article>

@code {
    
}