@page "/legal/terms-of-service"

<PageTitle>Terms of Service - mini calendar</PageTitle>

<article class="">
    <h1 class="mb-2 text-4xl font-medium">Terms of Service</h1>
    <div class="mb-8">
        <p>Last Updated: August 15, 2024</p>
    </div>
    <div class="mb-8">
        <p>Welcome to our mini calendar! These Terms of Service ("Terms") govern your use of our application and website.</p>
        <p><strong>By using our app or website, you agree to these Terms. Please read them carefully.</strong></p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">1. Acceptance of Terms</h2>
        <p>By downloading, installing, or using mini calendar, you agree to be bound by these Terms.</p> 
        <p>If you do not agree with these Terms, please do not use the app or website.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">2. Use of the Application</h2>
        <p>Personal Use: mini calendar is provided for your personal use. You may use it to manage your schedule and events.</p>
        <p>Restrictions: You agree not to misuse the app, including but not limited to:</p>
        <p>Attempting to interfere with the app’s functionality.</p>
        <p>Using the app for any illegal or unauthorized purpose.</p>
    </div> 
    <div class="mb-8">
        <h2 class="text-2xl mb-2">3. Data and Privacy</h2>
        <p>Local Data Storage: All your data is stored locally on your device. 
        We do not collect or store your personal information on our servers.</p>
        <p>Privacy Policy: Please review our Privacy Policy to understand how we handle your information.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">4. Website Use</h2>
        <p>Functional Cookies: Our website uses functional cookies to ensure a seamless experience. These cookies are necessary for the website to function properly.</p>
        <p>Anonymized Analytics: We use anonymized analytics to improve our website. No personal information is collected or shared.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">5. Intellectual Property</h2>
        <p>Ownership: All content, features, and functionality of mini calendar and website, including but not limited to text, graphics, logos, and software, are owned by us or our licensors and are protected by intellectual property laws.</p>
        <p>License: We grant you a limited, non-exclusive, non-transferable license to use the app. You may not copy, modify, or distribute any part of the app without our express permission.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">6. Limitation of Liability</h2>
        <p>No Warranty: mini calendar is provided "as is" and without any warranty of any kind. We do not guarantee that the app will be error-free, secure, or uninterrupted.</p>
        <p>Liability: To the fullest extent permitted by law, we shall not be liable for any direct, indirect, incidental, or consequential damages resulting from your use of the app or website.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">7. Termination</h2>
        <p>We reserve the right to terminate or suspend your access to the app at any time, without notice, for conduct that we believe violates these Terms or is harmful to other users, us, or third parties.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">8. Changes to the Terms</h2>
        <p>We may update these Terms from time to time. Any changes will be posted on this page with the updated date.</p>
        <p>Your continued use of the app after any changes signifies your acceptance of the new Terms.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">9. Governing Law</h2>
        <p>These Terms are governed by and construed in accordance with the laws of United Kingdom, without regard to its conflict of law principles.</p>
    </div>
    <div class="mb-8">
        <h2 class="text-2xl mb-2">10. Contact Information</h2>
        <p>If you have any questions or concerns about these Terms, 
            <a href="/contact" class="underline hover:no-underline text-gray-700 hover:text-gray-900">please contact us</a>.</p>
    </div>
    <div class="mb-8">
        <p>Note: These Terms of Service are designed to be clear and straightforward, 
            ensuring you understand your rights and obligations when using our mini calendar.</p>
    </div>
</article>

@code {
    
}