@page "/menu"
@inject NavigationManager NavManager

<Header>
    <div><IconAction OnClick="HandleCloseAsync" Title="Close menu"><XMarkIcon class="size-6 sm:size-8"></XMarkIcon></IconAction></div>
</Header>

<article>
    <Container>
        <div>
            <a href="http://minicalendar.app" class="flex items-center text-xl font-medium text-gray-600 hover:text-green-400 active:text-gray-400"
               title="mini calendar">
                <img src="images/icon-192.png" class="max-w-12 sm:max-w-16" alt="logo of mini calendar app" title="mini calendar"/>
                <span class="ml-2">mini calendar</span>
            </a>
        </div>

        <div class="mt-8 flex flex-col divide-y border rounded-md border-gray-300 text-lg">
            <div class="hover:bg-blue-400 hover:text-white">
                <a class="py-4 px-8 block" href="privacy/data" title="Privacy settings">Privacy</a>
            </div>
            <div class="hover:bg-blue-400 hover:text-white" title="Contact the creators">
                <a class="py-4 px-8 block" href="https://docs.google.com/forms/d/e/1FAIpQLSeD7kCWasBISvilqm65GYmKOfQopVEes57pKCrlD_ylHN6TzA/viewform?usp=sf_link" target="_blank">Contact</a>
            </div>
            <div class="hover:bg-blue-400 hover:text-white" title="Rate this app">
                <a class="py-4 px-8 block" href="https://docs.google.com/forms/d/e/1FAIpQLSeD7kCWasBISvilqm65GYmKOfQopVEes57pKCrlD_ylHN6TzA/viewform?usp=sf_link" target="_blank">Rate this app</a>
            </div>
            <div class="hover:bg-blue-400 hover:text-white" title="Reload the app to get the latest changes">
                <a class="py-4 px-8 block cursor-pointer" @onclick="HandleReloadAsync">Reload app</a>
            </div>
        </div>
    </Container>
</article>

@code {

    private Task HandleCloseAsync()
    {
        NavManager.NavigateTo("/");
        return Task.CompletedTask;
    }

    private Task HandleReloadAsync()
    {
        NavManager.NavigateTo("/", forceLoad: true);
        return Task.CompletedTask;
    }
}