<div class="my-6 flex flex-row justify-between">
    <div class="grow">
        <label class="text-lg">@Title</label>
        <div class="text-gray-500">@ChildContent</div>
    </div>
    <label class="relative flex h-2 ms-4">
        <input type="checkbox" class="absolute left-1/2 -translate-x-1/2 w-full h-full peer
                        appearance-none rounded-md enabled:cursor-pointer"
               checked="@_innerValue" disabled="@Disabled" @onclick="() => SetValueAsync(!_innerValue)" />
        <span class="w-16 h-10 flex items-center flex-shrink-0 p-1 bg-gray-300 rounded-full duration-300
                        ease-in-out peer-checked:bg-blue-500 after:w-8 after:h-8 after:bg-white after:rounded-full
                        after:shadow-md after:duration-300 peer-checked:after:translate-x-6 peer-enabled:cursor-pointer
                        peer-disabled:bg-gray-200"></span>
    </label>
</div>

@code {
    private bool _innerValue;
    [Parameter]
    public bool Value {
        get => _innerValue;
        set => _innerValue = value;
    }
    

    [Parameter] public string Title { get; set; } = string.Empty;

    [Parameter] public bool? Disabled { get; set; } = false;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    private async Task SetValueAsync(bool value)
    {
        _innerValue = value;
        await ValueChanged.InvokeAsync(value);
    }
}