<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* <link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="app.css" />
    @* <link rel="stylesheet" href="minicalendar.styles.css" /> *@
    <link rel="stylesheet" href="css/tailwind.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    @* Google tag (gtag.js) *@
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2JYL983LSE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-2JYL983LSE');
    </script>
    @* Open Graph meta tags *@
    <meta property="og:title" content="mini calendar">
    <meta property="og:description" content="View events, plan your year and track habits.">
    <meta property="og:image" content="https://minicalendar.app/images/minicalendar-og-1200x630.jpg">
    <meta property="og:url" content="https://minicalendar.app">
    <meta property="og:site_name" content="mini calendar">
    <meta property="og:type" content="website">
    @* Twitter/X meta tags *@
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="mini calendar">
    <meta name="twitter:description" content="View events, plan your year and track habits.">
    <meta name="twitter:image" content="https://minicalendar.app/images/minicalendar-og-1200x630.jpg">
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script>
        @* Previous versions of the website/app may have registered a service worker that is no longer used
        so any registered service workers should be unregistered. *@
        if(window.navigator && navigator.serviceWorker) {
            navigator.serviceWorker.getRegistrations().then(function(registrations) {
                for(let registration of registrations) {
                    registration.unregister();
                }
            });
        }
    
    </script>
</body>

</html>
