@page "/about"

<PageTitle>About - mini calendar</PageTitle>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="w-full lg:mb-0 mb-6 p-4">
        <div class="h-full text-center space-y-4">
          <img alt="Testimonial user's profile picture" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" src="images/icon-192.png">
          <p class="text-4xl">Hey there!</p>
          <p class="">I’m David, a UK software developer and the creator of mini calendar.</p>
          <p class="">mini calendar was born out of my own need to plan my time off over the whole year. 
            I used to have a printed calendar with my kid's school term time marked on it, 
            and I would highlight the days that my wife and I planned to take leave. It worked well enough, 
            but making changes was a pain, every time plans shifted, I’d have to print out a new calendar and 
            start over. Then one day I thought why not just make an app for it, and so mini calendar was created.</p>
          <p class="">I’ve kept the app flexible enough for everyone, whether you’re managing school holidays, 
            planning team leave or tracking habits. It’s all about giving you a clear, big-picture view of your 
            year while staying lightweight and easy to use.</p>
          <p class="">I hope you find mini calendar as helpful as I do. If you’ve got any feedback or ideas, 
            I’d love to hear from you.</p>
          <span class="inline-block h-1 w-10 rounded bg-green-500 mt-6 mb-4"></span>
          <div class="flex justify-center">
            <a class="mx-4 text-gray-400 hover:text-green-500" href="https://x.com/dattiimo" target="_blank" title="Contact on X/Twitter">
              <TwitterXIcon class="size-6" />
            </a>
            <a class="mx-4 text-gray-400 hover:text-green-500" href="https://docs.google.com/forms/d/e/1FAIpQLSeD7kCWasBISvilqm65GYmKOfQopVEes57pKCrlD_ylHN6TzA/viewform?usp=sf_link" target="_blank" title="Send a message">
              <EnvelopeIcon class="size-6" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>