@page "/contact"

<PageTitle>Contact - mini calendar</PageTitle>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="w-full lg:mb-0 mb-6 p-4">
        <div class="h-full text-center space-y-4">
          <img alt="mini calendar logo" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" src="images/icon-192.png">
          <p class="text-4xl">Get in touch!</p>
          <p class="">Mini calendar is a indie project, created and maintained by myself, David. 
            Whether you’ve got feedback, suggestions, or just fancy a chat, I’d love to hear from you!</p>
          <p class="">You can reach me on X/Twitter or use the contact form. Thanks for your support!</p>
          <span class="inline-block h-1 w-10 rounded bg-green-500 mt-6 mb-4"></span>
          <div class="flex justify-center">
            <a class="mx-4 text-gray-400 hover:text-green-500" href="https://x.com/dattiimo" target="_blank" title="Contact on X/Twitter">
              <TwitterXIcon class="size-6" />
            </a>
            <a class="mx-4 text-gray-400 hover:text-green-500" href="https://docs.google.com/forms/d/e/1FAIpQLSeD7kCWasBISvilqm65GYmKOfQopVEes57pKCrlD_ylHN6TzA/viewform?usp=sf_link" target="_blank" title="Send a message">
              <EnvelopeIcon class="size-6" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>